<!-- 主体 -->
<div ui-view class="view">
	<div class="jarviswidget margin-13">
		<header>
			<h2>角色列表</h2>
			<div class="jarviswidget-ctrls" ng-if="editAuth">
				<a class="button-icon" ui-sref="main.roles.create" ng-click="disable_form?$event.preventDefault():false">
					&nbsp;&nbsp;<i class="fa fa-plus"></i> 新增角色&nbsp;&nbsp;
				</a>	
			</div>
		</header>
		<div class="widget-body table-responsive">
			<table class="table table-hover table-bordered">
				<thead class="text-center">
					<tr><th>名称</th><th>备注</th><th ng-if="editAuth">操作</th></tr>
				</thead>
				<tbody class="text-center">
					<tr><td>超级管理员</td><td>所有权限（系统内置）</td><td ng-if="editAuth">-</td></tr>
					<tr ng-repeat="role in roles">
						<td>{{role.name}}</td><td>{{role.description | words: 40}}</td>
						<td ng-if="editAuth">
							<a ui-sref="main.roles.update({ _id: role._id })" ng-disabled="disable_form" ng-click="disable_form?$event.preventDefault():false" class="btn btn-default btn-xs">
								<i class="fa fa-edit"></i> 修改
							</a>
							<button ng-click="deleteRole(role._id)" ng-disabled="disable_form" type="button" class="btn btn-default btn-xs" >
								<i class="fa fa-trash-o"></i> 删除
							</button>
						</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</div>